.current-icon{
    height: 30px;
}

.future-icon{
    height: 30px;
    width: 30px;
}

.list{
    border-top: solid 2px gray;
}

.search-btn{
    margin-top: 10px;
    list-style-type: none;
    background-color: rgb(180, 177, 177);

}

header{
    background-image: linear-gradient(to right, #0749ff, #120033);
}
