.current-icon{
    height: 30px;
}

.future-icon{
    height: 30px;
    width: 30px;
}

.list{
    list-style-type: none;
    border-top: solid 2px gray;
}

.search-btn{
    margin-top: 10px;
    list-style-type: none;
}